@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jost: 'Jost', sans-serif;
  --font-oxanium: 'Oxanium', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-jost {
  font-family: var(--font-jost);
}

.font-oxanium {
  font-family: var(--font-oxanium);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




